*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    background-image: url(./abstract-element.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.debit-card{
    height: 395px;
    width: 630px;
    padding: 50px 50px 50px;
    background: linear-gradient(111.46deg, rgba(180, 180, 180,0.5)0%,    rgba(153,153,153,0.15)100%);
    border: 2px solid rgba(224, 224, 244, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

 
}

.debit-card .visa{
    width: 135px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.debit-card .chip{
    width: 60px;
    margin-bottom: 20px;
}

.debit-card h2{
    color: #e0e0e0;
    font-size: 54px;
    font-weight: 500px;
    margin-bottom: 20px;
}
.debit-card .info{
    display: flex;
    justify-content: space-between;
}
.debit-card .info .title{
    display: block;
    color: #e0e0e0;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;

}
.debit-card .info .detail{
    color: #e0e0e0;
    font-size: 25px;
    font-weight: 400;

}
.debit-card .info .expire{
    text-align: right;
}